[Desktop Entry]
Name=E:D - NAV-COM
Comment=Elite Dangerous Network Controller Launcher
Exec=/home/abdulkadir/Belgeler/network-controller-for-elite-dangerous/dist/ED-NAV-COM
Icon=/home/abdulkadir/Belgeler/network-controller-for-elite-dangerous/static/icon.png
Terminal=false
Type=Application
Categories=Game;
Path=/home/abdulkadir/Belgeler/network-controller-for-elite-dangerous
